@import 'src/constants.scss';

.section {
  width: 100%;
}

.editTitleContainer {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.toDoEditForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 100%;
}
.editButtonContainer {
  padding: 5px 0;
  display: flex;
  gap: 15px;
}
.editToDoInput {
  font-size: inherit;
  padding: 5px;
  border: 1px solid $mainGrey;
  border-radius: 5px;
  margin-left: 10px;
  flex-grow: 1;
  resize: none;
}
.editToDoInput:focus {
  outline: 2px solid $mainBlue;
}
.toDoEditInfo {
  margin-left: 10px;
  white-space: wrap;
  line-height: 24px;
  width: 100%;
  max-height: auto;
  flex-shrink: 1;
}
.toDoEditLabel {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 5px 5px 5px 0;
  max-height: auto;
}
